@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: normal;
  letter-spacing: normal;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

a {
  font-family: "Rubik", sans-serif, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.up {
  width: 100%;
  height: 100%;
}

.up span {
  position: fixed;
  font-size: 40px;
  right: 50px;
  bottom: 50px;
  z-index: 4;
  color: #000;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  padding: 40px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 230px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__burger {
  display: block;
  position: relative;
  width: 48px;
  height: 26px;
}

.header__burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 6px;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
}

.header__burger::before, .header__burger::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 6px;
  right: 0;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.enter__link {
  color: #222222;
  font-size: 27px;
  font-weight: 500;
  margin-right: 50px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;
  height: 370px;
  -webkit-box-shadow: 0 0 9px 1px rgba(2, 13, 70, 0.29);
          box-shadow: 0 0 9px 1px rgba(2, 13, 70, 0.29);
  border-radius: 20px;
  background-color: #ffffff;
  overflow: auto;
  padding: 10px 0;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  -webkit-box-shadow: 0 0 5px rgba(2, 13, 70, 0.7);
          box-shadow: 0 0 5px rgba(2, 13, 70, 0.7);
  background-image: linear-gradient(-266deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  width: 250px;
  margin: 5px auto;
  padding: 10px 30px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.75px;
}

.menu.active {
  display: block;
}

.header__burger.active {
  z-index: 50;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 10px;
}

.mainscreen {
  width: 100%;
  height: 100%;
  background: url(../img/ms-bg-new.jpg) center/cover no-repeat;
  padding-top: 45px;
  margin-bottom: 230px;
}

.mainscreen__content {
  background: url(../img/ms-mini-bg-new.png) center/cover no-repeat;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 55px;
  max-width: 745px;
  margin: 0 auto;
}

.mainscreen__text {
  color: #ffffff;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.mainscreen__title {
  color: #ffffff;
  font-family: Rubik;
  font-size: 60px;
  font-weight: 700;
  line-height: 45.96px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.mainscreen__title br {
  display: none;
}

.mainscreen__image {
  text-align: center;
  position: relative;
  padding-bottom: 50%;
}

.mainscreen__image img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 631px;
  width: 100%;
}

.what__body {
  position: relative;
}

.what__icon {
  text-align: right;
  position: absolute;
  max-width: 78px;
  right: -38px;
  top: -50px;
}

.what__content {
  -webkit-box-shadow: -1px 0 5px 1px rgba(83, 83, 83, 0.25);
          box-shadow: -1px 0 5px 1px rgba(83, 83, 83, 0.25);
  border-radius: 20px;
  background-image: linear-gradient(-268deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  padding: 15px 30px;
  max-width: 910px;
  margin: 0 auto 165px auto;
  position: relative;
  height: 100%;
  z-index: -1;
}

.what__content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.what__title {
  font-size: 37px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.what__block-text {
  font-weight: 400;
  color: #fff;
  font-size: 29px;
  text-align: center;
}

.what__text {
  color: #222222;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  max-width: 910px;
  margin: 0 auto;
}

.collage {
  width: 100%;
  height: 100%;
  margin-top: 85px;
  margin-bottom: 180px;
}

.collage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collage__item {
  position: relative;
}

.collage__item:nth-child(2n) {
  margin-top: 120px;
}

.collage__item:nth-child(3n) {
  margin-top: 240px;
}

.collage__image {
  width: 100%;
  height: 100%;
}

.collage__image img {
  max-width: 100%;
}

.collage__block-title {
  width: 294px;
  height: 71px;
  background-image: linear-gradient(-266deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.collage__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.program {
  width: 100%;
  height: 100%;
  background: url(../img/program-bg.jpg) center/cover no-repeat;
  padding-top: 115px;
  padding-bottom: 120px;
}

.program__subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

.program__block {
  margin: 0 auto 100px auto;
}

.program__title {
  color: #ffffff;
  font-size: 59px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.program__main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 540px;
}

.program__main-image {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.program__main-image span {
  position: absolute;
  left: 30%;
  top: 38%;
  color: #ffffff;
  font-size: 51px;
  font-weight: 700;
  white-space: nowrap;
}

.program__foot-text {
  max-width: 750px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #161615;
  text-align: center;
  padding: 20px 30px;
}

.program__foot-text p {
  color: #ffffff;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
}

.block-program {
  -webkit-box-shadow: 0 0 5px 1px rgba(40, 40, 40, 0.31);
          box-shadow: 0 0 5px 1px rgba(40, 40, 40, 0.31);
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 495px;
  padding: 50px 25px;
}

.block-program__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 75px;
}

.block-program__item:last-child {
  margin-bottom: 0;
}

.block-program__image {
  margin-right: 25px;
}

.block-program__text {
  color: #222222;
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
}

.foot-wrap {
  background: url(../img/foot-bg.jpg) center/cover no-repeat;
  padding-top: 110px;
}

.order {
  margin-bottom: 110px;
}

.order__title {
  color: #222222;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.order__content {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
}

.order__content img {
  max-width: 920px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order .order-img-2 {
  display: none;
}

.order__text {
  max-width: 970px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #161615;
  background-image: linear-gradient(-268deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  padding: 15px 30px;
}

.order__text p {
  color: #fefefe;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
}

.download {
  margin-bottom: 177px;
}

.download__body {
  -webkit-box-shadow: 0 0 5px 1px rgba(40, 40, 40, 0.31);
          box-shadow: 0 0 5px 1px rgba(40, 40, 40, 0.31);
  padding: 120px 60px;
  background-image: linear-gradient(-268deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  border-radius: 35px;
}

.download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download__text {
  display: block;
  color: #222222;
  font-size: 50px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  letter-spacing: -0.67px;
  line-height: normal;
  -webkit-box-shadow: 0 0 14px 4px rgba(40, 3, 117, 0.3);
          box-shadow: 0 0 14px 4px rgba(40, 3, 117, 0.3);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px 110px;
  margin-bottom: 20px;
}

.download__describe {
  text-shadow: 0 0 8px rgba(40, 3, 117, 0.65);
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  line-height: 22.31px;
  text-align: center;
  letter-spacing: 0.49px;
}

.download__trans {
  color: transparent;
  text-shadow: none;
}

.sale {
  margin-bottom: 160px;
}

.sale__body {
  max-width: 840px;
  margin: 0 auto;
  padding: 15px 49px;
  -webkit-box-shadow: 0 0 9px rgba(40, 40, 40, 0.31);
          box-shadow: 0 0 9px rgba(40, 40, 40, 0.31);
  border-radius: 20px;
  background-color: #161615;
  background-image: linear-gradient(-268deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
}

.sale__title {
  color: #ffffff;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.sale__item {
  color: #ffffff;
  font-family: Rubik;
  font-size: 187px;
  font-weight: 700;
  text-align: center;
}

.sale__item span {
  font-size: 87px;
}

.sale__subtitle {
  color: #ffffff;
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.callback {
  padding-bottom: 280px;
}

.callback__body {
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 1px rgba(40, 40, 40, 0.15);
          box-shadow: 0 0 15px 1px rgba(40, 40, 40, 0.15);
  border-radius: 20px;
  padding: 40px 0 0 0;
  max-width: 600px;
  margin: 0 auto;
}

.callback__title {
  color: #222222;
  font-size: 55px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  letter-spacing: -1.13px;
  margin-bottom: 40px;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0 65px;
}

.callback__contacts {
  width: 100%;
}

.form-calL input {
  width: 455px;
  height: 55px;
  -webkit-box-shadow: 0 0 9px rgba(34, 34, 34, 0.15);
          box-shadow: 0 0 9px rgba(34, 34, 34, 0.15);
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 20px 14px;
}

.form-calL textarea {
  width: 450px;
  height: 220px;
  -webkit-box-shadow: 0 0 9px rgba(34, 34, 34, 0.15);
          box-shadow: 0 0 9px rgba(34, 34, 34, 0.15);
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 30px;
  color: #545353;
  font-size: 17px;
  font-weight: 300;
  line-height: 29.89px;
  resize: none;
  padding: 20px 14px;
}

.button {
  width: 320px;
  height: 90px;
  -webkit-box-shadow: 0 0 5px 1px rgba(59, 64, 66, 0.21);
          box-shadow: 0 0 5px 1px rgba(59, 64, 66, 0.21);
  border-radius: 20px;
  background-color: #222222;
  background-image: linear-gradient(89deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  color: #ffffff;
  font-size: 41px;
  font-weight: 700;
  line-height: 21.01px;
  text-align: center;
}

.contacts {
  background-image: linear-gradient(89deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  padding: 40px 130px 20px 130px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contacts__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 24.5px;
  text-align: center;
  margin-bottom: 30px;
}

.contacts__number {
  text-align: center;
  white-space: nowrap;
}

.contacts__number img {
  width: 47px;
  height: 46px;
}

.contacts__link {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}

.popup-enter {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-enter__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 560px;
  margin: 0 auto;
}

.popup-enter__exit {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  cursor: pointer;
}

.popup-enter__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 20.18px;
  text-align: center;
  -webkit-box-shadow: 0 0 16px #282828;
          box-shadow: 0 0 16px #282828;
  padding: 40px 25px;
  background-image: linear-gradient(89deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}

.popup-enter__title a {
  color: #fff;
}

.popup-enter__form {
  background-color: #e0e0e0;
  padding-top: 50px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popup-enter__form input {
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 480px;
  width: 100%;
  margin-bottom: 25px;
  padding: 10px 25px;
  color: #797979;
  font-family: Rubik;
  font-size: 21px;
  font-weight: 400;
  line-height: 72.67px;
  letter-spacing: 0.27px;
}

.popup-enter__button {
  margin-top: 35px;
  margin-bottom: 40px;
}

.popup-enter.active {
  display: block;
}

.popup-reg {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  overflow-y: scroll;
}

.popup-reg__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.popup-reg__exit {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  cursor: pointer;
}

.popup-reg__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 16.32px;
  color: #ffffff;
  font-weight: 700;
  line-height: 20.18px;
  text-align: center;
  -webkit-box-shadow: 0 0 16px #282828;
          box-shadow: 0 0 16px #282828;
  padding: 40px 20px;
  background-image: linear-gradient(89deg, #4ddbff 0%, #00188f 56%, #00188f 100%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}

.popup-reg__title a {
  color: #fff;
}

.popup-reg__form {
  background-color: #e0e0e0;
  padding-top: 25px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popup-reg__form input {
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 386px;
  width: 100%;
  margin-bottom: 15px;
  padding: 3px 25px;
  color: #797979;
  font-family: Rubik;
  font-size: 21px;
  font-weight: 400;
  line-height: 72.67px;
  letter-spacing: 0.27px;
}

.popup-reg__button {
  margin-top: 35px;
  margin-bottom: 40px;
}

.order__item {
  position: absolute;
}

.order__item-2 {
  top: -10%;
  left: 52%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.order__item-1 {
  left: 13%;
  bottom: 5%;
}

.order__item-3 {
  right: 15%;
  bottom: 5%;
}

.block-ord {
  max-width: 205px;
}

.block-ord__title {
  color: #222222;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 10px;
}

.block-ord__text {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1229px) {
  .what__icon {
    right: 0;
  }
}

@media (max-width: 1130px) {
  .program__main-image span {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1125px) {
  .order__item-1 {
    left: 8%;
  }
  .order__item-3 {
    right: 12%;
  }
}

@media (max-width: 1090px) {
  .collage__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collage__item,
  .collage__item:nth-child(2n),
  .collage__item:nth-child(3n) {
    margin: 0 0 70px 0;
  }
}

@media (max-width: 1045px) {
  .order__item-1 {
    left: 8%;
  }
  .order__item-3 {
    right: 9%;
  }
  .download {
    margin-bottom: 500px;
  }
}

@media (max-width: 961px) {
  .order__item-1 {
    left: 5%;
  }
  .order__item-3 {
    right: 5%;
  }
}

@media (max-width: 893px) {
  .order__item-2 {
    left: 56%;
  }
}

@media (max-width: 813px) {
  .order__item-1 {
    left: 3%;
  }
  .order__item-3 {
    right: 0;
  }
}

@media (max-width: 800px) {
  .header__logo img {
    max-width: 200px;
  }
  .block-ord__title {
    font-size: 24px;
  }
  .order__item-2 {
    top: -15%;
  }
}

@media (max-width: 768px) {
  .download {
    margin-bottom: 200px;
  }
}

@media (max-width: 689px) {
  .block-ord__title {
    font-size: 20px;
  }
  .order__item-1 {
    left: 5%;
  }
  .order__item-3 {
    bottom: 0;
  }
}

@media (max-width: 681px) {
  .order-img-1 {
    display: none;
  }
  .order .order-img-2 {
    display: block;
  }
  .order__title {
    margin-bottom: 40px;
  }
  .order__item {
    position: relative;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    margin-bottom: 30px;
  }
  .order__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-ord {
    max-width: none;
  }
  .order__item-2 {
    right: 0;
  }
}

@media (max-width: 641px) {
  .popup-enter__title {
    font-size: 30px;
    width: 100%;
  }
  .popup-enter__body {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .program__title {
    font-size: 50px;
  }
  .program__subtitle {
    font-size: 45px;
  }
  .contacts {
    padding: 20px 65px;
  }
}

@media (max-width: 568px) {
  .mainscreen__text {
    font-size: 30px;
  }
  .mainscreen__title {
    font-size: 50px;
  }
  .what__title {
    font-size: 32px;
  }
  .what__block-text {
    font-size: 25px;
  }
  .what .container {
    padding: 0 5px;
  }
  .block-program {
    padding: 25px 10px;
  }
  .program__main-image span {
    font-size: 40px;
  }
  .download__text {
    font-size: 40px;
  }
  .download__describe {
    font-size: 20px;
  }
  .download__body {
    padding: 60px 30px;
  }
  .download__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popup-enter__form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .popup-enter__form input {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .what__content {
    margin-bottom: 100px;
  }
  .block-program__text {
    font-size: 20px;
  }
  .block-program__item {
    margin-bottom: 40px;
  }
  .what .container {
    padding: 0;
  }
  .form-calL input {
    width: 250px;
  }
  .form-calL textarea {
    width: 100%;
    min-width: 250px;
  }
  .popup-enter__title {
    font-size: 20px;
  }
  .popup-reg__body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .popup-reg__title {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 472px) {
  .mainscreen__title br {
    display: block;
  }
  .header__logo img {
    max-width: 150px;
  }
  .header {
    height: 70px;
  }
  .enter__link {
    margin-right: 25px;
  }
  .program__title {
    font-size: 45px;
  }
  .program__foot-text {
    padding: 10px 15px;
  }
  .program__foot-text p {
    font-size: 30px;
  }
}

@media (max-width: 465px) {
  .download__text {
    padding: 15px 55px;
    font-size: 30px;
  }
  .download__describe {
    text-align: center;
  }
  .contacts__title {
    font-size: 40px;
  }
  .contacts__link {
    font-size: 25px;
  }
  .contacts__number img {
    width: 25px;
    height: 100%;
  }
  .button {
    width: 250px;
    font-size: 35px;
  }
  .contacts {
    padding: 20px 30px;
  }
  .popup-reg__form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .popup-reg__form input {
    max-width: 350px;
  }
}

@media (max-width: 405px) {
  .mainscreen__text {
    font-size: 25px;
  }
  .mainscreen__title {
    font-size: 45px;
  }
  .collage .container {
    padding: 0;
  }
  .program__main-image span {
    font-size: 30px;
  }
  .popup-enter__title {
    padding: 20px 15px;
  }
}

@media (max-width: 345px) {
  .mainscreen__text {
    font-size: 20px;
  }
  .mainscreen__title {
    font-size: 40px;
  }
  .block-program__text {
    margin-left: -10px;
  }
}
